useDynLib(l2shm, .registration = TRUE)

importFrom("stats", "rnorm")

export(
    l2shm.gd.emp,
    l2shm.gd.proj,
    u.scores,
    heat.kern,
    heat.kern.dx,
    heat.kern.dt,
    rheat.sph,
    rheat.sph.mix,
    l2shm.obj.emp,
    l2shm.obj.proj,
    l2shm.nrm2.sq,
    l2shm.nrm2.sq.diff
)
